<div class="menu_links">
  <ul class="menu">
    <li class="active"><a href="#cheval">Chefs</a></li>
    <li><a href="#restaurant">Restaurant</a></li>
  </ul>
</div>
<div class="about_content" id="cheval">
  <p><b>Will Bowlby:</b> Chef Will Bowlby is from the UK where he has spent the last few years in London tuning his skills under the critically acclaimed chef of the French school of cooking, Rowley Leigh. Before moving out to India, Chef Will ran his own catering company and worked at renowned restaurant Le Café Anglais where his knowledge of modern cooking was allowed to grow and be perfected. In Will’s food there is no nonsense. He uses clean, bold flavours that accompany fresh, seasonal produce which look simple yet thorough. He whips his kitchen into shape and has them dishing out only the best quality food.</p>

  <p><b>Flora Hilleary:</b> Flora makes up half of the duo that runs Damson, a food consultancy company based in Delhi and Mumbai. She hails from Scotland but has been based in India for the past three and a half years working with kitchens, that has taken her to all corners of the country. Chef Flora trained at Irish cookery school Ballymaloe before launching into a career of cooking for restaurants, private houses and events throughout Europe. When consulting for kitchens her approach to food is open minded with steady guidence, often letting individual chefs or ingredients shine through in the food. She believes that there is always more to learn with food, there are always new ideas round the corner.</p>
  <br>
</div>
<div class="about_content" id="restaurant">
<p>In the heart of Kala Ghoda, Cheval opens its doors.  Cheval, which means "Horse" in French, is a Bar &amp; Restaurant. Spread around 3,000 square foot the  Bar &amp; Restaurant  is divided into three sections which comprises of the bar along with the lunch and dinner area.</p>
 
<p>The idea of Cheval was to create a deconstructed view of space by peeling back old layers to expose a new, contemporary idiom.  This is symbolized by the bare concrete walls, replete with texture and finished to a subtle gleam.</p>
 
<p>Modern design is as much about amalgamating the old as it is about creating the new.  This is expressed by the way in which the architect has chosen to whittle down the old décor and expose the bones of the original space while giving it a rawness that is at once arresting and fresh in its approach.</p>

<p>According to Sunny Sara, director, "Cheval, being an all day bar and restaurant will share a universal vibe of existing for people who choose quiet dinners to loud music. We will have different live acts like stand up comedy, jazz, open mic nights and more."
 A sun drenched corner to nurse a chilled glass of chardonnay in the afternoon sun gives way to a dark, rock chic cavity that is both cave by day and den by night.
 The menu is mainly composed of classic European dishes, composing a menu that shows off as much local and seasonal produce as possible. Having sourced some great suppliers, providing local vegetables, fish and meat, Chef Will´s kitchen ensures quality and taste in the food. The style of food reflects the ambiance of the restaurant and flavoursome dishes in a relaxed atmosphere.'</p>

<p>The menu ranges from raw tuna with ginger dressing to grilled fennel with apple, parmesan and hazelnut vinaigrette. Roast beetroot with Jerusalem artichoke puree, spiced walnuts and goats cheese. Beer battered fish and chips with pea puree, grilled sirloin steak with chimmichuri and dessert ranging from chocolate crumble ganache with hazelnut ice cream and Passionfruit crème brûlée to name a few.</p>
 
<p>Shashi Thadani, director adds, "We wanted a lively bar &amp; restaurant with great food.  The kind of food that one usually associates with fine dining but in a more relaxed and inviting ambience. We want it to be a place that people will keep coming back to."</p>
 
 <p>Cheval reflects the dichotomy that is Bombay: at times languid and soft, at times edgy and cool, different attitudes lying side by side in an aesthetic stripped of pretence.</p>

</div>
<!--   <div class="gallery">
    <img src="/assets/chef.png">
    <img src="/assets/chef.png" style="margin-left:15px;">
  </div> -->

<script type="text/javascript">
  $(function(){
    $(".menu").tabify();
  });
</script>