<div class="about_links">
  <ul class="menu">
    <li class="active"><a href="#cheval">Chef</a></li>
    <li><a href="#restaurant">Restaurant</a></li>
    <li><a href="#management">Management</a></li>
  </ul>
</div>
<div class="about_content" id="cheval">
  <p>About the Chef. Praesent id erat quis eros euismod pellentesque. Etiam eleifend metus lacus, fringilla elementum purus. Aenean at dui tincidunt arcu vulputate aliquam ac eu diam. Sed facilisis ullamcorper viverra. Aenean ut arcu sem. Proin arcu arcu, adipiscing vitae hendrerit sed, auctor eget orci. Phasellus eget ipsum vitae urna mollis scelerisque sed ut nisl.</p>
</div>
<div class="about_content" id="restaurant">
  <p>About the restaurant. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue dapibus porttitor. Praesent id erat quis eros euismod pellentesque. Etiam eleifend metus lacus, fringilla elementum purus. Aenean at dui tincidunt arcu vulputate aliquam ac eu diam. Sed facilisis ullamcorper viverra. Aenean ut arcu sem. Proin arcu arcu, adipiscing vitae hendrerit sed, auctor eget orci. Phasellus eget ipsum vitae urna mollis scelerisque sed ut nisl.</p>
</div>
<div class="about_content" id="management">
  <p>About the management. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue dapibus porttitor. Praesent id erat quis eros euismod pellentesque. Etiam eleifend metus lacus, fringilla elementum purus. Aenean at dui tincidunt arcu vulputate aliquam ac eu diam. Sed facilisis ullamcorper viverra. Aenean ut arcu sem. Proin arcu arcu, adipiscing vitae hendrerit sed, auctor eget orci. Phasellus eget ipsum vitae urna mollis scelerisque sed ut nisl.</p>
  <div class="gallery">
    <img src="images/chef.png">
    <img src="images/chef.png" style="margin-left:15px;">
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".menu").tabify();
  });
</script>