<div class="about_links">
  <h3>CHEVAL BAR &amp; RESTAURANT</h3>
  <p class="address">
    Above Kyber Restaurant <br>
    K. Dubhash Marg, Kalaghoda, Fort,<br>
    Mumbai 400001. <br>
    T : 022 403 966 38 <br>
  </p>
</div>
<div class="about_content" id="cheval" style="height:auto;">
  <iframe width="700" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=cheval&amp;ie=UTF8&amp;hq=cheval&amp;hnear=Mumbai,+Maharashtra&amp;t=m&amp;cid=12437616621920298694&amp;ll=19.031612,72.846222&amp;spn=0.227189,0.291824&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=cheval&amp;ie=UTF8&amp;hq=cheval&amp;hnear=Mumbai,+Maharashtra&amp;t=m&amp;cid=12437616621920298694&amp;ll=19.031612,72.846222&amp;spn=0.227189,0.291824&amp;z=11&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>