<div class="single_event_container">
  <div class="link_content">
    <p class="date">24th Feb 2013</p>
    <h3>Something relevant live!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
  </div>
</div>
<div class="menu_content">
  <img src="images/something-relevent.png" width="500">
</div>