<div class="main_content press_content">
  <h1>Food and Bar</h1>
  <div id="gallery">
    <ul class="bjqs">
      <li><img src="/assets/bar_1.jpg"></li>
      <li><img src="/assets/bar_2.jpg"></li>
      <li><img src="/assets/bar_3.jpg"></li>
      <li><img src="/assets/bar_4.jpg"></li>
      <li><img src="/assets/bar_5.jpg"></li>
      <li><img src="/assets/food_1.png"></li>
      <li><img src="/assets/food_2.jpg"></li>
      <li><img src="/assets/food_4.jpg"></li>
      <li><img src="/assets/food_5.jpg"></li>
      <li><img src="/assets/food_6.jpg"></li>
    </ul>
  </div>
</div>        

<script type="text/javascript">
  $(function(){
    $("#gallery").bjqs({
      'width' : 960,
      'height' : 600,
      'automatic' : false,
      'animtype' : 'slide'
    });
  });
</script>