<div class="main_content press_content">
  <h1>Press Articles</h1>
  <div class="sidebar">
    <div class="link_container">
      <img src="images/upcoming.jpg" width="120">
      <div class="link_content">
        <a href="#">This is a link</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
      </div>
    </div>
    <div class="link_container">
      <img src="images/upcoming.jpg" width="120">
      <div class="link_content">
        <a href="#">This is a link</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
      </div>
    </div>
    <div class="link_container">
      <img src="images/upcoming.jpg" width="120">
      <div class="link_content">
        <a href="#">This is a link</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
      </div>
    </div>
    <div class="link_container">
      <img src="images/upcoming.jpg" width="120">
      <div class="link_content">
        <a href="#">This is a link</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
      </div>
    </div>
    <div class="link_container">
      <img src="images/upcoming.jpg" width="120">
      <div class="link_content">
        <a href="#">This is a link</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet tincidunt rhoncus. Morbi tempor condimentum dapibus.</p>
      </div>
    </div>
  </div>
  <div class="press_article_preview">
  </div>
</div>   