<div class="main_content press_content">
  <h1>Press Articles</h1>
  <div class="sidebar">
    <% PressLink.all.each do |press_link| %>
      <div class="link_container">
        <img src="<%= press_link.image.url(:thumb) %>" width="120">
        <div class="link_content">
          <a href="<%= press_link.url %>" target="_blank"><%= press_link.url %></a>
          <p><%= truncate(press_link.description, :length => 120) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="press_article_preview">
  </div>
</div>