<div class="main_content press_content">
  <h1>Press Articles</h1>
  <div class="sidebar">
    <% PressLink.all.each do |press_link| %>
      <div class="link_container">
        <a href="<%= press_link.url %>" target="_blank"><img src="<%= press_link.image.url(:thumb) %>" width="120"></a>
        <div class="link_content">
          <a href="<%= press_link.url %>" target="_blank"><%= truncate(press_link.description, :length => 120) %></a>
          
        </div>
      </div>
    <% end %>
  </div>
  <div class="press_article_preview">
  </div>
</div>

<script type="text/javascript"> 
  $(function(){
    $("#press_slider").bjqs({
      'width' : 510,
      'height' : 700,
      'automatic' : false,
      'animtype' : 'slide'
    });
  });
</script>