/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require jquery-ui
 *= require unsorted
 *= require gritter
 *= require bjqs
 *= require font-awesome
 *= require main
 *= require_self
 */

.special-menu-image{
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin: auto;
}

#rotator{
  min-height: 100px;
}

#rotator img { 
  position: absolute; 
}

.social a {
  margin-left: 30px;
  opacity: 0.8;
}

.social a:hover {
  opacity: 1;
}

.small_event_container {
  float: left;
  height: 190px;
}

.social a img {
   width: 83px
}